body{
    background-color:rgb(193,201,214);
margin-left:20%;
 margin-right:20%;
}
h1{background-color:rgb(211,217,227);color:Black;font-family:TimesNewRoman}
h2{background-color:rgb(211,217,227);color:Black;font-family:TimesNewRoman}
p{background-color:rgb(211,217,227);color:Black;font-family:TimesNewRoman}